In [2]:
{
  "nbformat": 4,
  "nbformat_minor": 0,
  "metadata": {
    "colab": {
      "name": "tata.thrilokya.ipynb",
      "provenance": []
    },
    "kernelspec": {
      "name": "python3",
      "display_name": "Python 3"
    },
    "language_info": {
      "name": "python"
    }
  },
  "cells": [
    {
      "cell_type": "code",
      "metadata": {
        "id": "WZoU_Tye1sD9"
      },
      "source": [
        "import numpy as np\n",
        "import pandas as pd\n",
        "import sklearn"
      ],
      "execution_count": 2,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "xBeIjVRs15M-"
      },
      "source": [
        "from sklearn.datasets import load_boston\n",
        "df=load_boston()"
      ],
      "execution_count": 3,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "fiDtjdsW2JvZ",
        "outputId": "d855a34e-75c8-48c6-da78-79bff852b3c2"
      },
      "source": [
        "df.keys()"
      ],
      "execution_count": 4,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])"
            ]
          },
          "metadata": {
            "tags": []
          },
          "execution_count": 4
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "TuBw5eWZ2ZbT",
        "outputId": "0b213b7c-f11a-492d-e606-875e0b98f00c"
      },
      "source": [
        "print(df.DESCR)"
      ],
      "execution_count": 5,
      "outputs": [
        {
          "output_type": "stream",
          "text": [
            ".. _boston_dataset:\n",
            "\n",
            "Boston house prices dataset\n",
            "---------------------------\n",
            "\n",
            "**Data Set Characteristics:**  \n",
            "\n",
            "    :Number of Instances: 506 \n",
            "\n",
            "    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n",
            "\n",
            "    :Attribute Information (in order):\n",
            "        - CRIM     per capita crime rate by town\n",
            "        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n",
            "        - INDUS    proportion of non-retail business acres per town\n",
            "        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n",
            "        - NOX      nitric oxides concentration (parts per 10 million)\n",
            "        - RM       average number of rooms per dwelling\n",
            "        - AGE      proportion of owner-occupied units built prior to 1940\n",
            "        - DIS      weighted distances to five Boston employment centres\n",
            "        - RAD      index of accessibility to radial highways\n",
            "        - TAX      full-value property-tax rate per $10,000\n",
            "        - PTRATIO  pupil-teacher ratio by town\n",
            "        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n",
            "        - LSTAT    % lower status of the population\n",
            "        - MEDV     Median value of owner-occupied homes in $1000's\n",
            "\n",
            "    :Missing Attribute Values: None\n",
            "\n",
            "    :Creator: Harrison, D. and Rubinfeld, D.L.\n",
            "\n",
            "This is a copy of UCI ML housing dataset.\n",
            "https://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n",
            "\n",
            "\n",
            "This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n",
            "\n",
            "The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\n",
            "prices and the demand for clean air', J. Environ. Economics & Management,\n",
            "vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n",
            "...', Wiley, 1980.   N.B. Various transformations are used in the table on\n",
            "pages 244-261 of the latter.\n",
            "\n",
            "The Boston house-price data has been used in many machine learning papers that address regression\n",
            "problems.   \n",
            "     \n",
            ".. topic:: References\n",
            "\n",
            "   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n",
            "   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
            "\n"
          ],
          "name": "stdout"
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "OAnkUyaw2pkd",
        "outputId": "2543b90f-8a07-4168-9c92-c16b9fef79a0"
      },
      "source": [
        "print(df.feature_names)"
      ],
      "execution_count": 6,
      "outputs": [
        {
          "output_type": "stream",
          "text": [
            "['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'\n",
            " 'B' 'LSTAT']\n"
          ],
          "name": "stdout"
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "oiPyJBD52zc-",
        "outputId": "0d9f03e0-1f07-4d63-962e-6235c1323fce"
      },
      "source": [
        "print(df.filename)"
      ],
      "execution_count": 7,
      "outputs": [
        {
          "output_type": "stream",
          "text": [
            "/usr/local/lib/python3.7/dist-packages/sklearn/datasets/data/boston_house_prices.csv\n"
          ],
          "name": "stdout"
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "tisc6Z2e3Av8"
      },
      "source": [
        "boston=pd.DataFrame(df.data, columns=df.feature_names)"
      ],
      "execution_count": 9,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "ZB6ys5Ro3fno",
        "outputId": "47ff9919-74bc-4f0c-c162-37ae655506ed"
      },
      "source": [
        "print(df.target)"
      ],
      "execution_count": 10,
      "outputs": [
        {
          "output_type": "stream",
          "text": [
            "[24.  21.6 34.7 33.4 36.2 28.7 22.9 27.1 16.5 18.9 15.  18.9 21.7 20.4\n",
            " 18.2 19.9 23.1 17.5 20.2 18.2 13.6 19.6 15.2 14.5 15.6 13.9 16.6 14.8\n",
            " 18.4 21.  12.7 14.5 13.2 13.1 13.5 18.9 20.  21.  24.7 30.8 34.9 26.6\n",
            " 25.3 24.7 21.2 19.3 20.  16.6 14.4 19.4 19.7 20.5 25.  23.4 18.9 35.4\n",
            " 24.7 31.6 23.3 19.6 18.7 16.  22.2 25.  33.  23.5 19.4 22.  17.4 20.9\n",
            " 24.2 21.7 22.8 23.4 24.1 21.4 20.  20.8 21.2 20.3 28.  23.9 24.8 22.9\n",
            " 23.9 26.6 22.5 22.2 23.6 28.7 22.6 22.  22.9 25.  20.6 28.4 21.4 38.7\n",
            " 43.8 33.2 27.5 26.5 18.6 19.3 20.1 19.5 19.5 20.4 19.8 19.4 21.7 22.8\n",
            " 18.8 18.7 18.5 18.3 21.2 19.2 20.4 19.3 22.  20.3 20.5 17.3 18.8 21.4\n",
            " 15.7 16.2 18.  14.3 19.2 19.6 23.  18.4 15.6 18.1 17.4 17.1 13.3 17.8\n",
            " 14.  14.4 13.4 15.6 11.8 13.8 15.6 14.6 17.8 15.4 21.5 19.6 15.3 19.4\n",
            " 17.  15.6 13.1 41.3 24.3 23.3 27.  50.  50.  50.  22.7 25.  50.  23.8\n",
            " 23.8 22.3 17.4 19.1 23.1 23.6 22.6 29.4 23.2 24.6 29.9 37.2 39.8 36.2\n",
            " 37.9 32.5 26.4 29.6 50.  32.  29.8 34.9 37.  30.5 36.4 31.1 29.1 50.\n",
            " 33.3 30.3 34.6 34.9 32.9 24.1 42.3 48.5 50.  22.6 24.4 22.5 24.4 20.\n",
            " 21.7 19.3 22.4 28.1 23.7 25.  23.3 28.7 21.5 23.  26.7 21.7 27.5 30.1\n",
            " 44.8 50.  37.6 31.6 46.7 31.5 24.3 31.7 41.7 48.3 29.  24.  25.1 31.5\n",
            " 23.7 23.3 22.  20.1 22.2 23.7 17.6 18.5 24.3 20.5 24.5 26.2 24.4 24.8\n",
            " 29.6 42.8 21.9 20.9 44.  50.  36.  30.1 33.8 43.1 48.8 31.  36.5 22.8\n",
            " 30.7 50.  43.5 20.7 21.1 25.2 24.4 35.2 32.4 32.  33.2 33.1 29.1 35.1\n",
            " 45.4 35.4 46.  50.  32.2 22.  20.1 23.2 22.3 24.8 28.5 37.3 27.9 23.9\n",
            " 21.7 28.6 27.1 20.3 22.5 29.  24.8 22.  26.4 33.1 36.1 28.4 33.4 28.2\n",
            " 22.8 20.3 16.1 22.1 19.4 21.6 23.8 16.2 17.8 19.8 23.1 21.  23.8 23.1\n",
            " 20.4 18.5 25.  24.6 23.  22.2 19.3 22.6 19.8 17.1 19.4 22.2 20.7 21.1\n",
            " 19.5 18.5 20.6 19.  18.7 32.7 16.5 23.9 31.2 17.5 17.2 23.1 24.5 26.6\n",
            " 22.9 24.1 18.6 30.1 18.2 20.6 17.8 21.7 22.7 22.6 25.  19.9 20.8 16.8\n",
            " 21.9 27.5 21.9 23.1 50.  50.  50.  50.  50.  13.8 13.8 15.  13.9 13.3\n",
            " 13.1 10.2 10.4 10.9 11.3 12.3  8.8  7.2 10.5  7.4 10.2 11.5 15.1 23.2\n",
            "  9.7 13.8 12.7 13.1 12.5  8.5  5.   6.3  5.6  7.2 12.1  8.3  8.5  5.\n",
            " 11.9 27.9 17.2 27.5 15.  17.2 17.9 16.3  7.   7.2  7.5 10.4  8.8  8.4\n",
            " 16.7 14.2 20.8 13.4 11.7  8.3 10.2 10.9 11.   9.5 14.5 14.1 16.1 14.3\n",
            " 11.7 13.4  9.6  8.7  8.4 12.8 10.5 17.1 18.4 15.4 10.8 11.8 14.9 12.6\n",
            " 14.1 13.  13.4 15.2 16.1 17.8 14.9 14.1 12.7 13.5 14.9 20.  16.4 17.7\n",
            " 19.5 20.2 21.4 19.9 19.  19.1 19.1 20.1 19.9 19.6 23.2 29.8 13.8 13.3\n",
            " 16.7 12.  14.6 21.4 23.  23.7 25.  21.8 20.6 21.2 19.1 20.6 15.2  7.\n",
            "  8.1 13.6 20.1 21.8 24.5 23.1 19.7 18.3 21.2 17.5 16.8 22.4 20.6 23.9\n",
            " 22.  11.9]\n"
          ],
          "name": "stdout"
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "DebIej3R3oL-",
        "outputId": "70fde733-0cbc-4d89-824e-56b06d5cd832"
      },
      "source": [
        "print(df.data)"
      ],
      "execution_count": 11,
      "outputs": [
        {
          "output_type": "stream",
          "text": [
            "[[6.3200e-03 1.8000e+01 2.3100e+00 ... 1.5300e+01 3.9690e+02 4.9800e+00]\n",
            " [2.7310e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9690e+02 9.1400e+00]\n",
            " [2.7290e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9283e+02 4.0300e+00]\n",
            " ...\n",
            " [6.0760e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 5.6400e+00]\n",
            " [1.0959e-01 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9345e+02 6.4800e+00]\n",
            " [4.7410e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 7.8800e+00]]\n"
          ],
          "name": "stdout"
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 203
        },
        "id": "vMGjkE4O3uNF",
        "outputId": "15f5a496-d9bb-4857-80a2-0a680c5c2ba6"
      },
      "source": [
        "boston=pd.DataFrame(df.data, columns=df.feature_names)\n",
        "boston.head(5)"
      ],
      "execution_count": 12,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/html": [
              "<div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>CRIM</th>\n",
              "      <th>ZN</th>\n",
              "      <th>INDUS</th>\n",
              "      <th>CHAS</th>\n",
              "      <th>NOX</th>\n",
              "      <th>RM</th>\n",
              "      <th>AGE</th>\n",
              "      <th>DIS</th>\n",
              "      <th>RAD</th>\n",
              "      <th>TAX</th>\n",
              "      <th>PTRATIO</th>\n",
              "      <th>B</th>\n",
              "      <th>LSTAT</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>0.00632</td>\n",
              "      <td>18.0</td>\n",
              "      <td>2.31</td>\n",
              "      <td>0.0</td>\n",
              "      <td>0.538</td>\n",
              "      <td>6.575</td>\n",
              "      <td>65.2</td>\n",
              "      <td>4.0900</td>\n",
              "      <td>1.0</td>\n",
              "      <td>296.0</td>\n",
              "      <td>15.3</td>\n",
              "      <td>396.90</td>\n",
              "      <td>4.98</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>0.02731</td>\n",
              "      <td>0.0</td>\n",
              "      <td>7.07</td>\n",
              "      <td>0.0</td>\n",
              "      <td>0.469</td>\n",
              "      <td>6.421</td>\n",
              "      <td>78.9</td>\n",
              "      <td>4.9671</td>\n",
              "      <td>2.0</td>\n",
              "      <td>242.0</td>\n",
              "      <td>17.8</td>\n",
              "      <td>396.90</td>\n",
              "      <td>9.14</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>0.02729</td>\n",
              "      <td>0.0</td>\n",
              "      <td>7.07</td>\n",
              "      <td>0.0</td>\n",
              "      <td>0.469</td>\n",
              "      <td>7.185</td>\n",
              "      <td>61.1</td>\n",
              "      <td>4.9671</td>\n",
              "      <td>2.0</td>\n",
              "      <td>242.0</td>\n",
              "      <td>17.8</td>\n",
              "      <td>392.83</td>\n",
              "      <td>4.03</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>0.03237</td>\n",
              "      <td>0.0</td>\n",
              "      <td>2.18</td>\n",
              "      <td>0.0</td>\n",
              "      <td>0.458</td>\n",
              "      <td>6.998</td>\n",
              "      <td>45.8</td>\n",
              "      <td>6.0622</td>\n",
              "      <td>3.0</td>\n",
              "      <td>222.0</td>\n",
              "      <td>18.7</td>\n",
              "      <td>394.63</td>\n",
              "      <td>2.94</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>0.06905</td>\n",
              "      <td>0.0</td>\n",
              "      <td>2.18</td>\n",
              "      <td>0.0</td>\n",
              "      <td>0.458</td>\n",
              "      <td>7.147</td>\n",
              "      <td>54.2</td>\n",
              "      <td>6.0622</td>\n",
              "      <td>3.0</td>\n",
              "      <td>222.0</td>\n",
              "      <td>18.7</td>\n",
              "      <td>396.90</td>\n",
              "      <td>5.33</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>"
            ],
            "text/plain": [
              "      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT\n",
              "0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98\n",
              "1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14\n",
              "2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03\n",
              "3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94\n",
              "4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33\n",
              "\n",
              "[5 rows x 13 columns]"
            ]
          },
          "metadata": {
            "tags": []
          },
          "execution_count": 12
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 203
        },
        "id": "1VTB03at4e_n",
        "outputId": "98506a2b-1d1f-4fe4-e95b-ce9f1c4ca2b4"
      },
      "source": [
        "boston['MEDV']=df.target\n",
        "boston.head()"
      ],
      "execution_count": 13,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/html": [
              "<div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>CRIM</th>\n",
              "      <th>ZN</th>\n",
              "      <th>INDUS</th>\n",
              "      <th>CHAS</th>\n",
              "      <th>NOX</th>\n",
              "      <th>RM</th>\n",
              "      <th>AGE</th>\n",
              "      <th>DIS</th>\n",
              "      <th>RAD</th>\n",
              "      <th>TAX</th>\n",
              "      <th>PTRATIO</th>\n",
              "      <th>B</th>\n",
              "      <th>LSTAT</th>\n",
              "      <th>MEDV</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>0.00632</td>\n",
              "      <td>18.0</td>\n",
              "      <td>2.31</td>\n",
              "      <td>0.0</td>\n",
              "      <td>0.538</td>\n",
              "      <td>6.575</td>\n",
              "      <td>65.2</td>\n",
              "      <td>4.0900</td>\n",
              "      <td>1.0</td>\n",
              "      <td>296.0</td>\n",
              "      <td>15.3</td>\n",
              "      <td>396.90</td>\n",
              "      <td>4.98</td>\n",
              "      <td>24.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>0.02731</td>\n",
              "      <td>0.0</td>\n",
              "      <td>7.07</td>\n",
              "      <td>0.0</td>\n",
              "      <td>0.469</td>\n",
              "      <td>6.421</td>\n",
              "      <td>78.9</td>\n",
              "      <td>4.9671</td>\n",
              "      <td>2.0</td>\n",
              "      <td>242.0</td>\n",
              "      <td>17.8</td>\n",
              "      <td>396.90</td>\n",
              "      <td>9.14</td>\n",
              "      <td>21.6</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>0.02729</td>\n",
              "      <td>0.0</td>\n",
              "      <td>7.07</td>\n",
              "      <td>0.0</td>\n",
              "      <td>0.469</td>\n",
              "      <td>7.185</td>\n",
              "      <td>61.1</td>\n",
              "      <td>4.9671</td>\n",
              "      <td>2.0</td>\n",
              "      <td>242.0</td>\n",
              "      <td>17.8</td>\n",
              "      <td>392.83</td>\n",
              "      <td>4.03</td>\n",
              "      <td>34.7</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>0.03237</td>\n",
              "      <td>0.0</td>\n",
              "      <td>2.18</td>\n",
              "      <td>0.0</td>\n",
              "      <td>0.458</td>\n",
              "      <td>6.998</td>\n",
              "      <td>45.8</td>\n",
              "      <td>6.0622</td>\n",
              "      <td>3.0</td>\n",
              "      <td>222.0</td>\n",
              "      <td>18.7</td>\n",
              "      <td>394.63</td>\n",
              "      <td>2.94</td>\n",
              "      <td>33.4</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>0.06905</td>\n",
              "      <td>0.0</td>\n",
              "      <td>2.18</td>\n",
              "      <td>0.0</td>\n",
              "      <td>0.458</td>\n",
              "      <td>7.147</td>\n",
              "      <td>54.2</td>\n",
              "      <td>6.0622</td>\n",
              "      <td>3.0</td>\n",
              "      <td>222.0</td>\n",
              "      <td>18.7</td>\n",
              "      <td>396.90</td>\n",
              "      <td>5.33</td>\n",
              "      <td>36.2</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>"
            ],
            "text/plain": [
              "      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV\n",
              "0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0\n",
              "1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6\n",
              "2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7\n",
              "3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4\n",
              "4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2\n",
              "\n",
              "[5 rows x 14 columns]"
            ]
          },
          "metadata": {
            "tags": []
          },
          "execution_count": 13
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 417
        },
        "id": "Oo4CfwGU4t1W",
        "outputId": "a09c4fe6-02e0-4136-b714-9e0cb9780cac"
      },
      "source": [
        "boston.isnull()"
      ],
      "execution_count": 14,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/html": [
              "<div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>CRIM</th>\n",
              "      <th>ZN</th>\n",
              "      <th>INDUS</th>\n",
              "      <th>CHAS</th>\n",
              "      <th>NOX</th>\n",
              "      <th>RM</th>\n",
              "      <th>AGE</th>\n",
              "      <th>DIS</th>\n",
              "      <th>RAD</th>\n",
              "      <th>TAX</th>\n",
              "      <th>PTRATIO</th>\n",
              "      <th>B</th>\n",
              "      <th>LSTAT</th>\n",
              "      <th>MEDV</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>...</th>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>501</th>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>502</th>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>503</th>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>504</th>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>505</th>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "      <td>False</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "<p>506 rows × 14 columns</p>\n",
              "</div>"
            ],
            "text/plain": [
              "      CRIM     ZN  INDUS   CHAS    NOX  ...    TAX  PTRATIO      B  LSTAT   MEDV\n",
              "0    False  False  False  False  False  ...  False    False  False  False  False\n",
              "1    False  False  False  False  False  ...  False    False  False  False  False\n",
              "2    False  False  False  False  False  ...  False    False  False  False  False\n",
              "3    False  False  False  False  False  ...  False    False  False  False  False\n",
              "4    False  False  False  False  False  ...  False    False  False  False  False\n",
              "..     ...    ...    ...    ...    ...  ...    ...      ...    ...    ...    ...\n",
              "501  False  False  False  False  False  ...  False    False  False  False  False\n",
              "502  False  False  False  False  False  ...  False    False  False  False  False\n",
              "503  False  False  False  False  False  ...  False    False  False  False  False\n",
              "504  False  False  False  False  False  ...  False    False  False  False  False\n",
              "505  False  False  False  False  False  ...  False    False  False  False  False\n",
              "\n",
              "[506 rows x 14 columns]"
            ]
          },
          "metadata": {
            "tags": []
          },
          "execution_count": 14
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "cFRBr-JD411g",
        "outputId": "0e8f6c7d-dbe3-47ea-aad6-df5fc7d77cb8"
      },
      "source": [
        "boston.isnull().sum()"
      ],
      "execution_count": 15,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "CRIM       0\n",
              "ZN         0\n",
              "INDUS      0\n",
              "CHAS       0\n",
              "NOX        0\n",
              "RM         0\n",
              "AGE        0\n",
              "DIS        0\n",
              "RAD        0\n",
              "TAX        0\n",
              "PTRATIO    0\n",
              "B          0\n",
              "LSTAT      0\n",
              "MEDV       0\n",
              "dtype: int64"
            ]
          },
          "metadata": {
            "tags": []
          },
          "execution_count": 15
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "wwr3Y_gx49YF",
        "outputId": "4abd00f6-d8dd-4149-a22d-3223faeca237"
      },
      "source": [
        "from sklearn.model_selection import train_test_split\n",
        "X=boston.drop('MEDV',axis=1)\n",
        "Y=boston['MEDV']\n",
        "X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.15,random_state=5)\n",
        "print(X_train.shape)\n",
        "print(X_test.shape)\n",
        "print(Y_train.shape)\n",
        "print(Y_test.shape)\n",
        "\n",
        "\n"
      ],
      "execution_count": 18,
      "outputs": [
        {
          "output_type": "stream",
          "text": [
            "(430, 13)\n",
            "(76, 13)\n",
            "(430,)\n",
            "(76,)\n"
          ],
          "name": "stdout"
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "nMqfzOfu7jah"
      },
      "source": [
        "from sklearn.linear_model import LinearRegression\n",
        "from sklearn.metrics import mean_squared_error"
      ],
      "execution_count": 19,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "g5zhVCMJ882T",
        "outputId": "3a2863f9-0e4a-4749-8f44-e0f8689aa56c"
      },
      "source": [
        "lin_model=LinearRegression()\n",
        "lin_model.fit(X_train,Y_train)"
      ],
      "execution_count": 21,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)"
            ]
          },
          "metadata": {
            "tags": []
          },
          "execution_count": 21
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "0byE_fTg9TKa",
        "outputId": "be235150-f0fc-4f51-d70d-50a70cbee16b"
      },
      "source": [
        "y_train_predict= lin_model.predict(X_train)\n",
        "rmse=(np.sqrt(mean_squared_error(Y_train,y_train_predict)))\n",
        "\n",
        "print(\"The model performance for training set\")\n",
        "print('RMSE is {}'. format(rmse))\n",
        "print(\"\\n\")\n",
        "\n",
        "\n",
        "y_test_predict= lin_model.predict(X_test)\n",
        "rmse=(np.sqrt(mean_squared_error(Y_test, y_test_predict)))\n",
        "\n",
        "print(\"The model performance for training set\")\n",
        "print('RMSE is {}'.format(rmse))\n",
        "\n",
        "\n"
      ],
      "execution_count": 34,
      "outputs": [
        {
          "output_type": "stream",
          "text": [
            "The model performance for training set\n",
            "RMSE is 4.710901797319796\n",
            "\n",
            "\n",
            "The model performance for training set\n",
            "RMSE is 4.687543527902972\n"
          ],
          "name": "stdout"
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 351
        },
        "id": "J131g9EYAc4j",
        "outputId": "3127228f-d764-4724-c8b8-4a2e32aef64e"
      },
      "source": [
        "import matplotlib.pyplot as plt\n",
        "plt.figure(figsize=(5,5))\n",
        "plt.scatter(Y_test,y_test_predict)\n",
        "plt.plot([min(y_test_predict),max(y_train_predict)],[min(y_test_predict),max(y_test_predict)])\n",
        "plt.xlabel('actual')\n",
        "plt.ylabel('predicted')"
      ],
      "execution_count": 35,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "Text(0, 0.5, 'predicted')"
            ]
          },
          "metadata": {
            "tags": []
          },
          "execution_count": 35
        },
        {
          "output_type": "display_data",
          "data": {
            "image/png": "iVBORw0KGgoAAAANSUhEUgAAAUcAAAE9CAYAAACY8KDMAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADh0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uMy4yLjIsIGh0dHA6Ly9tYXRwbG90bGliLm9yZy+WH4yJAAAgAElEQVR4nO3dd3zV5dnH8c9FCBBmGAEhTGUJskOCxbaKs06q1hURWWqf2mprUdo+dbRasfo42tqhgEy3FmelDqyt1UAw7CGIoARkiGFIgIz7+SMnGMI5yTkn5+R3xvf9euWVnN9ZV/Rw5Z7Xbc45RETkaA28DkBEJBYpOYqI+KHkKCLih5KjiIgfSo4iIn4oOYqI+NHQ6wCC0a5dO9e9e3evwxCRBLNkyZJdzrkMf/fFRXLs3r07+fn5XochIgnGzDYHuk/dahERP5QcRUT8UHIUEfFDyVFExA8lRxERP5QcRUT8UHIUEfEjLtY5iogEMr+gkPsXrGNrUTGd0tOYfHYfRg/JrPPrKjmKSNyaX1DIL15cQXFJGQCFRcX84sUVAHVOkOpWi4gnyssdj7+3kf2HSsN+jfsXrDuSGCsVl5Rx/4J1dQ1PLUcRqX/OOX7z6mpm/ncTTRunkJvTLazX2VpUHNL1UKjlKCL17v/++TEz/7uJCaf04KrsrmG/Tqf0tJCuh0LJUUTq1Z/f3cCfFm7gyuwu/O95J2JmYb/W5LP7kJaactS1tNQUJp/dp65hRj85mlmKmRWY2au+2z3MLM/MNpjZM2bWKNoxiEhsmPXfTfz+jXVcNLgTd48eUKfECBWTLvdePIDM9DQMyExP496LB8TNbPVNwBqgpe/2fcBDzrmnzeyvwATgL/UQh4h46Nn8z7nj5VWc1a8DD/xgECkN6pYYK40ekhmRZFhdVFuOZtYZOA+Y5rttwCjged9DZgGjoxmDiHjv1eVbmfLCcr7dqx1/vGoIqSmxP6IX7QgfBm4Fyn232wJFzrnKufstgN+Ub2bXmVm+meXv3LkzymGKSLS8vWY7Nz+9lKxubXhsTBaNG6bU/qQYELXkaGbnAzucc0vCeb5z7jHnXJZzLisjw28VcxGJce9v2MUP531Ev04tmX5tFmmN4iMxQnTHHEcCF5rZuUATKsYcHwHSzayhr/XYGSiMYgwi4pElm3czaXY+Pdo2Y9a4bFo0SfU6pJBEreXonPuFc66zc647cAXwjnMuF1gIXOp72FjgpWjFICLeWFm4h2ufWEyHlk2YMzGb1s3ib1GKF6OitwE/M7MNVIxBTvcgBhGJkvXb9zFmeh4tm6Qyd2IO7Vs08TqksNTL9kHn3LvAu76fNwLZ9fG+IlK/Nn/5NbnT8miY0oB5E3PIrGGnSrSq6USK9laLSERsLSrmqsfzKCkr55nrT6Z7u2YBHxvNajqREvuLjUQk5u3cd4irp+Wxt7iE2eNz6N2hRY2Pj2Y1nUhRy1EkCUWyS1t04DBjpuexbc9B5kzIZkDnVrU+J5rVdCJFLUeRJFPZpS0sKsbxTZd2fkHoq+r2HSxh7BOL2bjzax6/Jous7m2Cel40q+lEipKjSJKJVJe2+HAZE2bls6pwD3/OHcopvdoF/dxoVtOJFHWrRZJMJLq0h0rLuH7uEhZv2s0jVwzhjH4dQoqhsguv2WoRiRmd0tMo9JMIg+3SlpaV85OnCnjv4538/pKBXDioU1hxRKuaTqSoWy2SZOrSpS0vd0x+fjkLVm3njgv6cdnwLtEK03NqOYokmXC7tM45/vellfy9oJDJZ/dh3Mge9RGuZ5QcRZJQqF1a5xz3vLaGJ/M+44ennsCPTusZxehig7rVIlKrh99az7T/fMrYk7txawzNKEeTkqOI1Oix9z7hkbfX84Nhnbnjgv51PvclXig5ikhAcz/czO9eX8t5Azsy9ZKBNIjQuS/xQGOOIgki0lVuXvxoC79+aSWn923PQ5cNjtiBWPFCyVEkAUS6ys0bK7fx8+eWcfLxbXk0dyiNGiZfJzP5fmORBBTJKjfvrtvBj58qYHCXdB6/JosmqfFz7kskqeUokgAiVeXmw41fcv2cJfTu0IInxmXTrHFkUkSsF7b1Ry1HkQQQiSo3BZ99xYSZi+nSpimzx2fTKi0yB2JFsgpQfVJyFEkAda1ys3rrXsbOWETb5o2ZNzGHts0bRyy2eChs64+61SIJoC5Vbj7ZuZ8x0/No1rgh8ybm0KFlZA/EiofCtv6o5SiSAMId0/t89wFyH8/DDOZOzKFLm6YRjy0eCtv6o+QoEufCHdPbvvcgudPyKC4pY86EHE7IaB6V+OKhsK0/So4icS6cMb0v9x8id1oeX+4/xKzx2ZzYsWXU4hs9JJN7Lx5AZnoaBmSmp3HvxQNifrZaY44icS7UMb09xSWMmb6ILV8dYNa4bAZ3SY9meEDsF7b1Ry1HkTgXypje14dKufaJRazfsY+/jcki5/i20Q4vbqnlKBLnJp/d56itg1Axpnda3wxGTn3nyCTNTaf34u8FhSzfsodHrxrKd3tneBh17FNyFIlz/pbxnNY3gxeWFB6113rKi8txDh68fBDnnHRcnd83Hne9hELJUSQBVB/TGzn1nWMmacodpKel8v0hnev8fpEudBGLNOYokoBqmoyJhHjd9RIKJUeRBBTthdfxuuslFEqOIgno52f1pmG14rSRXHgdr7teQqHkKBIH5hcUMnLqO/SY8hojp75T6+6XwqJiSssdzRpV7EyJ9MLreN31EgpNyIhEQSRnckOd/Jjxn0954J8fc/GQTB74waConPtSl0IX8ULJUaSOqidCf8to6jKTW9PkR/XXe2bxZ/zm1dWc0/84fn9pdA/EisddL6FQt1qkDvwVfZj34WcRnckNdvLjpaWFTHlxBd/tncEfrhxCwxT9864L/dcTqQN/rToX4LHhzuQGM/nxz1Vf8LNnl5HdvQ1/vXpYUh6IFWn6LyhSB6EkvHBncmub/Pj3+p3c+GQBJ2W2Yvq1w0lrlJwHYkWakqNIHQRKeNVH+kKZya0+Mw0ELPm1eNNurpu9hOMzmjFr3HCaR+hALAFzLlAnIHZkZWW5/Px8r8MQOUb1mWSoSISXDMtk4dqdIc/kBno9f8twVmzZw1WPf0hGi8Y8c/3JZLSI3LkvycLMljjnsvzdpz8zInUQ6SUtwc5Mr/tiH2Nm5NGqaSrzJuUoMUaBkqOIT7hrEyO5pCWYmelPd33N1dPzaNywAfMm5tCxVeLsSoklGnMUwf+SnJufWcrgu/5Zr+cr1zYzXVhUTO7jH1JW7pg3MYdubZvVW2zJJmrJ0cyamNkiM1tmZqvM7C7f9R5mlmdmG8zsGTNrFK0YRILlrzsLUFRcUq8H0Nc0M71j70FyH/+QfYdKmT0+m57tW9RLTMkqmi3HQ8Ao59wgYDBwjpmNAO4DHnLO9QS+AiZEMQaRoNS0JCeSpbhq2yMd6DCq7/bO4OrpeezYd4iZ47I5KbNVROKRwKI25ugqpsH3+26m+r4cMAq4ynd9FnAn8JdoxSESjE7paRTWkCAjUYor2D3S1ccw9x4sIffxPDZ9eYCZ1w5nWLfWdY5FahfVMUczSzGzpcAO4E3gE6DIOVfqe8gWIHE3Z0rc8NedrSoSpbjCKRB74HApE2YuZs22vfz16qF8q2e7OschwYlqcnTOlTnnBgOdgWygb7DPNbPrzCzfzPJ37twZtRhF4JvubOumqcfcF6lSXKEWiD1UWsb1c5awZPNXPHLFEEb17VDnGCR49TJb7ZwrAhYCJwPpZlbZne8M+B3pds495pzLcs5lZWTolDSJvtFDMim4/SwevnxwVA6gD6VAbElZOTc+WcC/1+/ivksGct7AjnV+fwlN1MYczSwDKHHOFZlZGnAmFZMxC4FLgaeBscBL0YpBJBzRKsUV6AjV6q3SsnLHLc8u483V2/nNRf35QVaXiMcitYvmIvCOwCwzS6Gihfqsc+5VM1sNPG1mdwMFwPQoxiASMXUtYBvMbhrnHL/6+wpeXraV287pyzUnd4/0ryFB0t5qkSCEsuc5XM45fvvqGma8/yk3ntaTnyfQkQOxSnurRWoQTIswlGrc4bYwH3rzY2a8/ynjRnbnlrN61/0XkzpRcpSkFuzaw2BnmsM97P4v737CH97ZwBXDu3D7+f0wi97xBhIc7a2WpBbs2sNgZ5rDWcs4+4NN3PfGWi4c1Il7vj9AiTFGKDlK0ppfUBhwV0z1FmGwR5GGupbx+SVbuP2lVZxxYgf+77JBpETxQCwJjZKjJKXK7m8g1VuEgfY8V+8qh7KW8bXl27j1+WWc0rMdf7pqCKk6ECumaMxRklKgKjwQeEdMMOsfg13L+M7a7dz0dAFDu7bmsWuG0aSGrYviDSVHSUo1FZIIZnlOoBnpYNYy/veTXdww9yNO7NiSGeOG07SR/hnGIv1fkYRVmcAKi4pJMaPMOTJ9ySpQFZ7M9LSgEmNNM9I1tTCXbP6KibPy6d62KbPHZ9OyybF7uSU2aJBDElLVyt4AZb7NDpWJ7LS+GUFNsPgTzow0wMrCPVz7xCLat2jM3Ak5tG6mOs+xTMlRElJNY4rFJWUsXLszqAkWf0KdkQbYsGMf18xYRIvGDZk7MYf2LZsE9XuId9StloRUW3HawqLisAtMBOqSB5qp/uzLA+ROy6OBGfMmjaBz66Yhv6fUP7UcJSHVVpzWIOxzYYJd8wiwbU8xV037kEOl5cybmEOPdjoQK14oOUpCqq2yt4Owz4UJds3jrv2HyJ2WR9GBEmaPz6bPcToQK56oWy0JqeqSmmB3wYT6+jV1yYsOHObqaXlsLSpmzoQcBnZOD/u9xBtqOUrCGj0kk/enjCIzQBe7gVlUjlzdf6iUsU8sZuPOr3n8miyGd29z5L7aTh+U2KHkKAkvUBe7zLmIn0ldfLiMCTMXs7JwD3+6agjf7vXNER9Vlxc5vllWpAQZm5QcJeFVjhGm+Kl2E8kzqQ+XlvPDeUtYtGk3D142iLP6H3fU/eGujxRvKDlKUhg9JPPIQvDqInEmdWlZOTc9XcC763Zy7/cHcNHgY8cjw1kfKd7RhIwkhfkFhRgVs9TVVS77CbeCd3m549bnl/OPlV/w6/P7cUV2V7+PC3V9pHhLLUdJCvcvWOc3MRoVY5LzCwqZ/Nyyo8YDJz+3rNbxQOcct7+8khcLCrnlzN5MOKVHwMeGsj5SvKfkKEkhUNfVUdHlvvPlVZSUH50+S8odd768KuBrOue49x9rmfvhZ9zw3RO4cVTPGmMIdn2kxAZ1qyUp1FSFB6CouMTv8wJdB/jD2xt47L2NXHNyN247p09QxxtE60xsiTy1HCUpnNY3I6TrtZn274089NbHXDK0M3de0F/nviQgJUdJCgvX7qzxeuum/usq+rv+ZN5n3P3aGs4b0JH7LhlAA537kpCUHCWhBNqBUtsymjsu6E9qytFJLjXFuOOC/se8/q/mr2BU3/Y8dPlgGurcl4SlMUeJW9WX3pzWN4MXlhT6rdBd2zKaYI43eGPlF9zy3DJG9GjLn3OH0qihEmMiMxdgYWwsycrKcvn5+V6HITGk+lEFQMB1jJVHI/g7+CrY2eJ/fbyTSbPy6Z/ZkrkTcmjWWO2KRGBmS5xzWf7u058+iUv+tuIF+jNf2XVukvrNxz09LTXoxJi38Uuun5NPz/bNmXltthJjktD/ZYlLoWy5a5WWekyr8VBpeVDPXfZ5ERNm5ZOZnsacCdm0CjBxI4lHLUeJS6FsuSsqLgmr4MOabXu5ZsYiWjdLZd7EEbRt3jisWCU+KTlKzAil1mFtlb6DUVhUHPA9Nu7cz5jpeaSlpvDkxBEc10oHYiUbdaslJtR2FnR11WeXG/jOpQ6Vv/f4fHfFgVjOwdyJOXRpowOxkpFajhITwql1WFnp+9Op5/F/lw0KqyVZ/T227z3I1dPz+PpQKXMm5NCzffOQX1MSg1qOEhPqWuuwLi3JyvfY/XXFuS+79h1i7sQc+nVqGdTzJTEpOUpMiEStw6pFHUJZB9kpPY09xSWMmZ7HZ7sPMHNcNkO6tg71V5AEo261xISaah3WNFET6D5/5cFyR3T1+x4/Ob0n42cu5uPt+/jrmGGcfELbqP++EvvUcpSYEGj7HhBwoibQffmbd7Nw7c4jr/PQ5YOPvH5WtzZHvcfNZ/Ri/tJCCj77ikevGsppfdrX568tMUzbByWmjZz6To11GP3dV737HGibYElZOT+cu4S31uzgwcsGcfHQzpEMXeKAtg9K3Kppoqam6t5V+Zv1Lit3/PSZpby1Zge/HX2SEqMcQ8lRYlqgCRkHNAihwGzVRFpe7pjywnJeXb6NX57blzEjutU1TElANY45mtnParrfOfdgZMMROZq/ajqVQln0XZlknXP85tXVPLdkCz85vRftWzRh5NR3Qj5xUBJfbRMyLXzf+wDDgZd9ty8AFkUrKIkv4R5pGoyqEzX+xherMgN/+bLyhEGAB/65jpn/3cTEU3rQo23TkHblSHIJakLGzN4DznPO7fPdbgG85pz7TpTjAzQhE8v8rScMpk7i/IJC7nplFV8dqDjAKj0tlTsv7F/jc3pMeS1gWbLabJp6Ho8u3MD9C9ZxVU5X7hl9EqfctzDgZM/7U0aF+U4STyIxIdMBOFzl9mHftZretIuZLTSz1Wa2ysxu8l1vY2Zvmtl633etto1j4Wz7m19QyOTnlx1JjFBROae2c6JDWRBeVWZ6GjPf/5T7F6xj9OBO3H3RSZhZnXflVAqlYIbEj2CT42xgkZndaWZ3AnnArFqeUwrc4pzrB4wAfmRm/YApwNvOuV7A277bEqfCSTD3L1hHSdmxbcCScldjUg2nEk9aagrf7tWOO19ZzcDMViz6dDcn/PJ1Rk59h/QAtRlDScKVLefComIc33TNlSDjX1DJ0Tl3DzAO+Mr3Nc4597tanrPNOfeR7+d9wBogE7iIbxLrLGB0eKFLLAiUSGpKMDUlzpruq7rrpSatm6Ye2RXzg6zOPJP/OX2Pa8HH2/exdc/BI0ls/8HSYw7VqtyVE6xwWs4SH0JZytMU2OucewTYYmY9gn2imXUHhlDR4uzgnNvmu+sLaumeS2yradtfIDUlzsr7atoW+P6UUTx8+WACLeRp2qghn049j7su7M+TeZ8xvFsb9hSXcLBa9e+SckezRg2P2mIY7NEJlSLVNZfYE9T2QTO7A8iiYtb6CSAVmAuMDOK5zYEXgJudc3urHn7unHNm5neM3cyuA64D6Nq1azBhigeCObWvusln92Hy88uO6VqnNrAje6mD2RZY05kx72/YxQ1zl2AGizbtDhjLnuISlt5xVmi/dBWRKJghsSnY2eqlVLT8PnLODfFdW+6cG1jL81KBV4EFlWsizWwdcKpzbpuZdQTedc7V2I/RbHXiqWm2OtCWwerbAgNV2WnXvBF7i0spKSuvdXa7rjPT4c7WS2yoabY62MITh6u28sysWRBvasB0YE21xeIvA2OBqb7vLwUZgySQquXFqgt2W6Dj2ATZuGED9h8qpdy5WhNjqOOL/oTTcpb4EOyY47Nm9jcg3cwmAW8B02p5zkhgDDDKzJb6vs6lIimeaWbrgTN8t0WOCKVL6uDImGH7Fo1p2MBo26wxpeWBU2O444v+RHMBvHgrqJajc+4BMzsT2EvFuOPtzrk3a3nOfyDgmPnpIUUpScXflsFAXejKbvGmXV9z2d8+oFnjhsybmEPutLyoL/AO9dwbiS9BtRzN7D7n3JvOucnOuZ875940s/uiHZwkp0CFaqsvu0lNqZjA2VpUTO60PErKypk3MYfu7ZqFNYseKi3jSWzBjjmeCdxW7dr3/FwTiYjqY5LzCwp5ZtHnRz/Iwd7iEnKn5bG3uISnrhtBrw4tjjwfojsWqGU8ia22qjw/BP4HOMHMlle5qwXw32gGJrHJqzG2+xeso6TaOGJJeUWFndSUBsydmM1Jma2Our+mSZ9I0DKexFZbt/pJKirwvOT7Xvk1zDmXG+XYJMZ4uVUuUGustNwxbWwWw7q1iXoM1dVH1128U2NydM7tcc5tAh4BdjvnNjvnNgOlZpZTHwFK7PByjC1Qa6xNs0aM7Nku6u/vj7+xUa1vTBzBjjn+BRha5fZ+P9ckwXk5xuZvBjs1xbj9/H5Rf++aRLvrLt4Jdp2juSpbaZxz5ejkwqQTTpGJSBk9JJO7R59Ek9SKj2x6Wir3XzpIiUmiJtjkuNHMfmJmqb6vm4CN0QxMYo+XY2zl5Y4nF33GwZKK4hHNGutvs0RXsMnxBuBbQCGwBcjBVxRCkodXY2zOOXKn5bFk81dHrhUWFddaHFekLnRutcQ05xz3vLaGaf/51O/96WmpdaqqI8kt7MITZnarc+73ZvZH/Ozecs79JEIxivj18FvrAyZGqDheQSQaahu4WeP7rmab1Lu//esTHnl7PZdldebZ/C1ehyNJpsbk6Jx7xfe9tvNiRCJqzoebufcfazl/YEfuvXggb67eftSBXJVaBzgHRqSuautWv4L/YigAOOcujHhEkvReWLKFX89fyRkntuehyweT0sC444L+x1QPT02puC4SDbV1qx/wfb8YOI6KoxEArgS2RysoSV7/WLGNyc8vY2TPtvzpqqGkplQsqFBRWalvwR6TkF99RsfftWjRbHVyWLhuB9fNzmdg53TmTMimaSOtZZToisQxCc3M7Hjn3EbfC/YAaj0qQSQY8wsKufvV1ez6+jCpKcYlQzOVGMVzwX4Cfwq8a2YbqSjK3A24PmpRSdwJt5TZ/IJCbnt+OYfKKna+lJQ5fvvqGpo2aqgus3gq2GMS3jCzXkBf36W1zrlD0QtL4kldjgv43etrjiTGSpWVfpQcxUvBnlvdFPgZ0M05N8nMeplZH+fcq9ENT+JBTaXMqie4qi3MjBaN2bHP/99YVdMWrwW7t/oJ4DBwsu92IXB3VCKSuBNsKbPqxXIDJUZQNW3xXrDJ8QTn3O+BEgDn3AECnywoSSbYUmb+Wpj+VB6cJeKlYJPjYTNLw7cg3MxOADTmKEDwpcyC7So302SMxIBgZ6vvAN4AupjZPGAkcG20gpL44m+B9ml9M7h/wTp++szSI7PXx7Vswra9B2t9vT0qJiExoNbkaGYNgNZU7JIZQUV3+ibn3K4oxyZxpOpxAf5mr6e8sJzmTYL7W6zxRokFtX5anXPlvtJlzwKv1UNMEuf8jS0eLC3n4P7DjB/ZnQWrtrO1qJj0pqnsP1h61JGrtVUW9+poWEk+wXar3zKznwPPAF9XXnTO7Y5KVBLXahpbvP2C/txepVhEKMmuLuspRUIVbHK8nIrJmP+pdv34yIYjiSDQYfeZfrrLoZzeF8p6SpG6Cna2uh/wKLAMWAr8EVCtKPFr8tl9aNLw6I9WJA7i8vJoWEk+wbYcZwF7gT/4bl/lu3ZZNIKSyIn2GF3l6xcWFZNiRplzdGrVhK5tm/Lx9v1ARYsxEu8bqEWqCRyJhmCT40nOuaqnpy80s9XRCEgiJ9pjdNVfv8xX/m7rnoOwB0b1bc/0sVmYRWa/wOSz+xz1flB/R8NK8gm2W/2RmY2ovGFmOehcmZhX0xhdtF6/qrXb9kYsMYJ3R8NKcgq25TgM+K+Zfea73RVYZ2YrAOecGxiV6KROoj1GV9vrbNtT+4LvUIUygSNSF8Emx3OiGoVERbTH6AK9fqTfR8QLwdZz3BztQCTyojFGV3WCp1VaKqkpdtShV5F6HxGvqRZ9Aov0oVTVJ2CKiktIqTKk2AAoJ3Kz0yJeUnJMcJEco/M3AVPmKkqMFdx+Fs0b6+MkiSPY2WqRgBMwJWVOiVESjpKjBC3QBIu/bYEi8U7JUY6YX1DIyKnv0GPKa4yc+g7zCwqPun/y2X1oHIVtgSKxSH0hAYLbTTOoSzqNGjagpKyccqeJF0lsSo4C1F7xZstXB8h9/ENSUxrwz59+h57tW3gUqUj9ULdagJp30+zYe5Crp+Wx/1ApcyZkKzFKUohacjSzGWa2w8xWVrnWxszeNLP1vu+to/X+EppAky0dWjbh6ul57Nh3iJnjs+nfqVU9RybijWi2HGdy7LbDKcDbzrlewNu+2xID/J0g2KRhA1JTjM1fHmDa2CyGdtXfMkkeUUuOzrn3gOrHKFxERR1IfN9HR+v9JTTVK950bNWEjulpfLH3IH+9ehjfOqGd1yGK1Kv6npDp4Jzb5vv5C6BDPb+/1KByN83BkjImzc7n/Q27+NNVQzmtb3uvQxOpd55NyDjnHBXn0vhlZteZWb6Z5e/cubMeI0tuJWXl3PhkAf9ev4vfXzqIcwd09DokEU/Ud3LcbmYdAXzfdwR6oHPuMedclnMuKyMjo94CTGZl5Y6fPbuMt9Zs57cX9efSYZ29DknEM/WdHF8Gxvp+Hgu8VM/vLwGUlzt++eIKXlm2lSnf68uYk7t7HZKIp6K5lOcp4AOgj5ltMbMJwFTgTDNbD5zhuy0ec87x29dW80z+5/xkVE9u+O4JXock4rmoTcg4564McNfp0XpPOVYwpw8++ObHPPH+JsaP7MFPz+ztUaQisUXbBxNYMPul//LuJ/zxnQ1cMbwLvz7/xIgeiCUSz7R9MIHVdvrg7A82cd8ba7locCfu+f4AJUaRKpQcE1hN+6Wfy/+c219axZn9OvDADwaR0kCJUaQqJccEFmi/dOumjbjtheV8u1c7/nTVEFJT9DEQqU7/KhKYv/3SjVIaUFR8mGHdWvPYmCwaN0wJ8GyR5KbkmMCq75du16wR5c5xUmYrpl87nLRGSowigWi2OsFV7pdesvkrxkzP44SM5swal03LJqlehyYS05QcE0RN6xlXFu7h2icW0b5FY+ZMzKZ1s0YeRysS+5QcE0BN6xlPymzJNTMW0bJJKvMmjaB9iyZehioSN5QcE0Cg9Yz3vr4GB6Q0MOZNzNERqiIh0IRMAgi0nnH7vkOUlJUzd0IO3ds1q+eoROKbkmMCCLSe0YDZ43Poc5wOxBIJlZJjAvC3nhHgx6N6MqCzDsQSCYfGHBNA5az0fW+sZduegwD88Lsn8LOz+ngZlkhcU8sxQZzd/zi6tGlKSgPj8WuyuO17fb0OSSSuqeWYAA6VlnHD3CUs3rSbR64YwuXFaRIAAA3VSURBVJn9Qju3LJiajyLJRskxzpWWlXPTU0v518c7ue+SAVw4qFNIzw+m5qNIMlJyjGPl5Y5bn1/OG6u+4Pbz+3H58K4hv0ZNNR+DTY5qeUoiUnKMU845fv3SSl4sKOTnZ/Vm/Ck9wnqdmmo+BkMtT0lUmpCJQ8457v3HWublfcYPTz2BH53WM+zXCrRGMtD16mqrNi4Sr5Qc49Af3t7AY+9tZOzJ3bj17D51Ot7A3xrJtNQUJp8d3DKgurY8RWKVkmOcefy9jTz01sdcOqwzd1zQv87nvlSv+ZiZnsa9Fw8Iuktc15anSKzSmGMcmZe3mXteX8N5Azty3yUDaRChc18qaz6GY/LZfY4ac4TQWp4isUrJMU78vWAL/zt/JaP6tuehywbHzIFYlUlVs9WSaJQc48AbK7/g588t5+Tj2/Ln3KE0ahhboyF1aXmKxKrY+lcmx3h33Q5+/NRHDOrcisevyaKJnwITIhJ5So4x7MONX3L9nCX07tCCJ8Zl06yxGvoi9UXJMUYt/byICTMX06VNU2aPz6ZVmg7EEqlPSo4xaM22vYydsYi2zRszb2IObZs39jokkaSj5BhjPtm5nzHT82jaKIV5E3Po0FIHYol4QYNYMeTz3Qe4eloeAHMn5tClTVOPIwqdilBIolByjBHb9x4kd1oeBw6X8fR1Izgho7nXIYVMRSgkkahbHQO+3H+Iq6fl8eX+Q8wan82JHVt6HVJYVIRCEolajh7bU1zCNTMW8dnuA8wan83gLukRe+367uKqCIUkErUcPfT1oVLGPbGIj7fv429jhjHi+LYRe+3KLm5hUTGOb7q48wsKI/Ye1akIhSQSJUePHCwpY9LsfJZt2cMfrxzCqX3aR/T1veji1rX8mUgsUbfaAyVl5fxo3kd8sPFLHrxsEOec1DHi7+FFF1dFKCSRKDnWs7Jyx83PLOXttTu45/sn8f0hnaPyPp3S0yj0kwij3cVVEQpJFOpW16PycsdtLyznteXb+NW5J5Kb0y1q76UurkjdqOVYT5xz3PXKKp5fsoWbz+jFpO8cH9X3UxdXpG6UHOvJ/QvWMeuDzUz6dg9uOr1Xvbynurgi4VO3uh48unADf373E3JzuvLLc0+s87kvIhJ9So5R9sT7n3L/gnVcPCST3150khKjSJzwJDma2Tlmts7MNpjZFC9iqA/PLv6cu15ZzTn9j+P3l0buQCwRib56T45mlgI8CnwP6AdcaWb96juOaHt52VZue3E53+2dwSNXDqZhihrpIvHEi3+x2cAG59xG59xh4GngIg/iiJo3V2/nZ88sZXj3Nvz16mE0bqhzX0TijRez1ZnA51VubwFyqj/IzK4DrgPo2rVr/UQWAf9Zv4sfzfuI/pmtmHHtcNIaKTGGQvUgJVbEbF/POfeYcy7LOZeVkZHhdThByd+0m0mz8zk+oxmzxg2nuQ7ECokXxTJEAvEiORYCXarc7uy7FtdWbNnDuCcW07FVE+ZMyCG9aSOvQ4o7qgcpscSL5LgY6GVmPcysEXAF8LIHcUTMx9v3cc2MPFo1TWXepBwyWuhArHCoHqTEknpPjs65UuBGYAGwBnjWObeqvuOIlE27viZ3Wh6pKQ2YNzGHjq1UuzBcqgcpscSTMUfn3OvOud7OuROcc/d4EUMkFBYVkzstj7Jyx7yJOXRr28zrkOKaimVILNGMQZh27DvI1dPy2HuwhKcmjaBXhxZehxT3VCxDYomSYxi++vowY6YtYvveg8yZkM1Jma28DilhqFiGxAolxxDtO1jC2CcW8emXXzPz2uEM69bG65BEJApidp1jLCo+XMaEmfms3rqXv149lG/1bOd1SCISJUqOQTpUWsZ1c/LJ37ybh68YzKi+HbwOSUSiSN3qIJSUlXPjkwX8e/0u7r90IOcP7OR1SCISZWo51qKs3PHz55bx5urt3HVhf36Q1aX2J4lI3FNyrIFzjv+dv4KXlm7l1nP6MPZb3b0OSUTqiZJjAM457n5tDU8t+pwbT+vJ/5za0+uQRKQeKTkG8NBb65n+n08ZN7I7t5zV2+twRKSeKTn68bd/fcIf3l7P5VlduP38fjr3RSQJKTlWM+eDTdz7j7VcMKgTv7t4gBKjSJJScqzi+SVb+PVLqzjjxA48eNkgUnQglkjSUnL0eX3FNm59fhmn9GzHn64aQqoOxBJJasoAwMK1O7jp6QKGdm3NY9cMo0mqzn0RSXZJnxw/+ORLbpi7hL7HtWTGuOE0baRNQyKS5Mnxo8++YsKsxXRr25RZ47Np2STV65BEJEYkbXJctXUP185YRPsWjZk7IYc2zXQgloh8IymT44Yd+7lm+iKaN27I3Ik5tG/ZxOuQRCTGJF1y/OzLA+RO+xAzY96kEXRu3dTrkEQkBiVVcvxiz0Fyp3/IodJy5k7Mpkc7HYglIv4lTXLctf8QudM+5KuvS5g9Ppu+x7X0OiQRiWFJkRz3HChhzPRFFBYVM+Pa4QzsnO51SCIS4xI+Oe4/VMq1MxfxyY79PDYmi+weOhBLRGqX0CueD5aUMXHWYpZv2cNfcofynd4ZXockInEiYZPj4dJybpi7hLxPd/Pw5YM5q/9xXocUVfMLCrl/wTq2FhXTKT2NyWf30fnPInWQkMmxtKycm58p4N11O5l68QAuGpzYSWJ+QSG/eHEFxSVlABQWFfOLF1cAKEGKhCnhxhzLyx23vrCc11d8wa/P78cV2V29Dinq7l+w7khirFRcUsb9C9Z5FJFI/Eu45Pj22h28+FEht5zZmwmn9PA6nHqxtag4pOsiUruE61af2a8DT07K4eTj23odSr3plJ5GoZ9E2Ck9zYNoRBJDwrUcAb51QrukOt5g8tl9SKtWgzItNYXJZ/fxKCKR+JdwLcdkVDnpotlqkchRckwQo4dkKhmKRFBCdqtFROpKyVFExA8lRxERP5QcRUT8UHIUEfFDyVFExA8lRxERP5QcRUT8MOec1zHUysx2Apu9jiNI7YBdXgcRhniMOx5jBsVd32qKu5tzzm8V7LhIjvHEzPKdc1lexxGqeIw7HmMGxV3fwo1b3WoRET+UHEVE/FByjLzHvA4gTPEYdzzGDIq7voUVt8YcRUT8UMtRRMQPJccIMbNzzGydmW0wsylexxOImc0wsx1mtrLKtTZm9qaZrfd9b+1ljP6YWRczW2hmq81slZnd5Lse07GbWRMzW2Rmy3xx3+W73sPM8nyfl2fMrJHXsVZnZilmVmBmr/pux0PMm8xshZktNbN837WwPiNKjhFgZinAo8D3gH7AlWbWz9uoApoJnFPt2hTgbedcL+Bt3+1YUwrc4pzrB4wAfuT7bxzrsR8CRjnnBgGDgXPMbARwH/CQc64n8BUwwcMYA7kJWFPldjzEDHCac25wleU7YX1GlBwjIxvY4Jzb6Jw7DDwNXORxTH45594Ddle7fBEwy/fzLGB0vQYVBOfcNufcR76f91HxjzaTGI/dVdjvu5nq+3LAKOB53/WYi9vMOgPnAdN8t40Yj7kGYX1GlBwjIxP4vMrtLb5r8aKDc26b7+cvgA5eBlMbM+sODAHyiIPYfd3TpcAO4E3gE6DIOVfqe0gsfl4eBm4Fyn232xL7MUPFH55/mtkSM7vOdy2sz4jOkJGjOOecmcXsEgYzaw68ANzsnNtb9ZTJWI3dOVcGDDazdODvQF+PQ6qRmZ0P7HDOLTGzU72OJ0SnOOcKzaw98KaZra16ZyifEbUcI6MQ6FLldmfftXix3cw6Avi+7/A4Hr/MLJWKxDjPOfei73JcxA7gnCsCFgInA+lmVtk4ibXPy0jgQjPbRMUQ0SjgEWI7ZgCcc4W+7zuo+EOUTZifESXHyFgM9PLN5jUCrgBe9jimULwMjPX9PBZ4ycNY/PKNeU0H1jjnHqxyV0zHbmYZvhYjZpYGnEnFeOlC4FLfw2IqbufcL5xznZ1z3an4LL/jnMslhmMGMLNmZtai8mfgLGAl4X5GnHP6isAXcC7wMRXjSb/yOp4a4nwK2AaUUDFuNIGK8aS3gfXAW0Abr+P0E/cpVIwnLQeW+r7OjfXYgYFAgS/ulcDtvuvHA4uADcBzQGOvYw0Q/6nAq/EQsy++Zb6vVZX/DsP9jGiHjIiIH+pWi4j4oeQoIuKHkqOIiB9KjiIifig5ioj4oeQocc/MTjWzb9XxNfbX/ihJJkqOkghOBeqUHEWqU3KUmGVm830FBFZVFhHw1c38yFcf8W1fEYobgJ/6avh928xmmtmlVV5nv+97c99zPvLV/IvJykkSG7QIXGKWmbVxzu32bbtbDJwO5APfcc59WuX+O4H9zrkHfM+bScWujud9t/c755r79gU3dRUFK9oBHwK9nHOu8jEe/JoSo1SVR2LZT8zs+76fuwDXAe855z4FcM5Vr0tZGwN+Z2bfoaIUVyYV5au+iFC8kkCUHCUm+UplnQGc7Jw7YGbvUrGfOphyX6X4hozMrAFQWc4/F8gAhjnnSnxVZ5pENnJJFBpzlFjVCvjKlxj7UnE0QhPgO2bWAyq63b7H7gNaVHnuJmCY7+cLqai+XfmaO3yJ8TSgW3R/BYlnGnOUmGRmjYH5QHdgHZAO3AmkAb+j4g/7DufcmWbWm4ry/eXAj6mojvSS77FvAD/yjTm2A14BmlMxdjkC+J5zbpPGHKU6JUcRET/UrRYR8UPJUUTEDyVHERE/lBxFRPxQchQR8UPJUUTEDyVHERE/lBxFRPz4fwh9/ejmeI8kAAAAAElFTkSuQmCC\n",
            "text/plain": [
              "<Figure size 360x360 with 1 Axes>"
            ]
          },
          "metadata": {
            "tags": [],
            "needs_background": "light"
          }
        }
      ]
    }
  ]
}

{'cells': [{'cell_type': 'code',
   'execution_count': 2,
   'metadata': {'id': 'WZoU_Tye1sD9'},
   'outputs': [],
   'source': ['import numpy as np\n',
    'import pandas as pd\n',
    'import sklearn']},
  {'cell_type': 'code',
   'execution_count': 3,
   'metadata': {'id': 'xBeIjVRs15M-'},
   'outputs': [],
   'source': ['from sklearn.datasets import load_boston\n',
    'df=load_boston()']},
  {'cell_type': 'code',
   'execution_count': 4,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'fiDtjdsW2JvZ',
    'outputId': 'd855a34e-75c8-48c6-da78-79bff852b3c2'},
   'outputs': [{'data': {'text/plain': ["dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])"]},
     'execution_count': 4,
     'metadata': {'tags': []},
     'output_type': 'execute_result'}],
   'source': ['df.keys()']},
  {'cell_type': 'code',
   'execution_count': 5,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'TuBw5eWZ2ZbT',
    'outputId': '0b213b7c-f11a-492d-e606-875e0b98f00c'},
   'outputs': [{'name': 'stdout',
     'output_type': 'stream',
     'text': ['.. _boston_dataset:\n',
      '\n',
      'Boston house prices dataset\n',
      '---------------------------\n',
      '\n',
      '**Data Set Characteristics:**  \n',
      '\n',
      '    :Number of Instances: 506 \n',
      '\n',
      '    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n',
      '\n',
      '    :Attribute Information (in order):\n',
      '        - CRIM     per capita crime rate by town\n',
      '        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n',
      '        - INDUS    proportion of non-retail business acres per town\n',
      '        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n',
      '        - NOX      nitric oxides concentration (parts per 10 million)\n',
      '        - RM       average number of rooms per dwelling\n',
      '        - AGE      proportion of owner-occupied units built prior to 1940\n',
      '        - DIS      weighted distances to five Boston employment centres\n',
      '        - RAD      index of accessibility to radial highways\n',
      '        - TAX      full-value property-tax rate per $10,000\n',
      '        - PTRATIO  pupil-teacher ratio by town\n',
      '        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n',
      '        - LSTAT    % lower status of the population\n',
      "        - MEDV     Median value of owner-occupied homes in $1000's\n",
      '\n',
      '    :Missing Attribute Values: None\n',
      '\n',
      '    :Creator: Harrison, D. and Rubinfeld, D.L.\n',
      '\n',
      'This is a copy of UCI ML housing dataset.\n',
      'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n',
      '\n',
      '\n',
      'This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n',
      '\n',
      "The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\n",
      "prices and the demand for clean air', J. Environ. Economics & Management,\n",
      "vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n",
      "...', Wiley, 1980.   N.B. Various transformations are used in the table on\n",
      'pages 244-261 of the latter.\n',
      '\n',
      'The Boston house-price data has been used in many machine learning papers that address regression\n',
      'problems.   \n',
      '     \n',
      '.. topic:: References\n',
      '\n',
      "   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n",
      '   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n',
      '\n']}],
   'source': ['print(df.DESCR)']},
  {'cell_type': 'code',
   'execution_count': 6,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'OAnkUyaw2pkd',
    'outputId': '2543b90f-8a07-4168-9c92-c16b9fef79a0'},
   'outputs': [{'name': 'stdout',
     'output_type': 'stream',
     'text': ["['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'\n",
      " 'B' 'LSTAT']\n"]}],
   'source': ['print(df.feature_names)']},
  {'cell_type': 'code',
   'execution_count': 7,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'oiPyJBD52zc-',
    'outputId': '0d9f03e0-1f07-4d63-962e-6235c1323fce'},
   'outputs': [{'name': 'stdout',
     'output_type': 'stream',
     'text': ['/usr/local/lib/python3.7/dist-packages/sklearn/datasets/data/boston_house_prices.csv\n']}],
   'source': ['print(df.filename)']},
  {'cell_type': 'code',
   'execution_count': 9,
   'metadata': {'id': 'tisc6Z2e3Av8'},
   'outputs': [],
   'source': ['boston=pd.DataFrame(df.data, columns=df.feature_names)']},
  {'cell_type': 'code',
   'execution_count': 10,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'ZB6ys5Ro3fno',
    'outputId': '47ff9919-74bc-4f0c-c162-37ae655506ed'},
   'outputs': [{'name': 'stdout',
     'output_type': 'stream',
     'text': ['[24.  21.6 34.7 33.4 36.2 28.7 22.9 27.1 16.5 18.9 15.  18.9 21.7 20.4\n',
      ' 18.2 19.9 23.1 17.5 20.2 18.2 13.6 19.6 15.2 14.5 15.6 13.9 16.6 14.8\n',
      ' 18.4 21.  12.7 14.5 13.2 13.1 13.5 18.9 20.  21.  24.7 30.8 34.9 26.6\n',
      ' 25.3 24.7 21.2 19.3 20.  16.6 14.4 19.4 19.7 20.5 25.  23.4 18.9 35.4\n',
      ' 24.7 31.6 23.3 19.6 18.7 16.  22.2 25.  33.  23.5 19.4 22.  17.4 20.9\n',
      ' 24.2 21.7 22.8 23.4 24.1 21.4 20.  20.8 21.2 20.3 28.  23.9 24.8 22.9\n',
      ' 23.9 26.6 22.5 22.2 23.6 28.7 22.6 22.  22.9 25.  20.6 28.4 21.4 38.7\n',
      ' 43.8 33.2 27.5 26.5 18.6 19.3 20.1 19.5 19.5 20.4 19.8 19.4 21.7 22.8\n',
      ' 18.8 18.7 18.5 18.3 21.2 19.2 20.4 19.3 22.  20.3 20.5 17.3 18.8 21.4\n',
      ' 15.7 16.2 18.  14.3 19.2 19.6 23.  18.4 15.6 18.1 17.4 17.1 13.3 17.8\n',
      ' 14.  14.4 13.4 15.6 11.8 13.8 15.6 14.6 17.8 15.4 21.5 19.6 15.3 19.4\n',
      ' 17.  15.6 13.1 41.3 24.3 23.3 27.  50.  50.  50.  22.7 25.  50.  23.8\n',
      ' 23.8 22.3 17.4 19.1 23.1 23.6 22.6 29.4 23.2 24.6 29.9 37.2 39.8 36.2\n',
      ' 37.9 32.5 26.4 29.6 50.  32.  29.8 34.9 37.  30.5 36.4 31.1 29.1 50.\n',
      ' 33.3 30.3 34.6 34.9 32.9 24.1 42.3 48.5 50.  22.6 24.4 22.5 24.4 20.\n',
      ' 21.7 19.3 22.4 28.1 23.7 25.  23.3 28.7 21.5 23.  26.7 21.7 27.5 30.1\n',
      ' 44.8 50.  37.6 31.6 46.7 31.5 24.3 31.7 41.7 48.3 29.  24.  25.1 31.5\n',
      ' 23.7 23.3 22.  20.1 22.2 23.7 17.6 18.5 24.3 20.5 24.5 26.2 24.4 24.8\n',
      ' 29.6 42.8 21.9 20.9 44.  50.  36.  30.1 33.8 43.1 48.8 31.  36.5 22.8\n',
      ' 30.7 50.  43.5 20.7 21.1 25.2 24.4 35.2 32.4 32.  33.2 33.1 29.1 35.1\n',
      ' 45.4 35.4 46.  50.  32.2 22.  20.1 23.2 22.3 24.8 28.5 37.3 27.9 23.9\n',
      ' 21.7 28.6 27.1 20.3 22.5 29.  24.8 22.  26.4 33.1 36.1 28.4 33.4 28.2\n',
      ' 22.8 20.3 16.1 22.1 19.4 21.6 23.8 16.2 17.8 19.8 23.1 21.  23.8 23.1\n',
      ' 20.4 18.5 25.  24.6 23.  22.2 19.3 22.6 19.8 17.1 19.4 22.2 20.7 21.1\n',
      ' 19.5 18.5 20.6 19.  18.7 32.7 16.5 23.9 31.2 17.5 17.2 23.1 24.5 26.6\n',
      ' 22.9 24.1 18.6 30.1 18.2 20.6 17.8 21.7 22.7 22.6 25.  19.9 20.8 16.8\n',
      ' 21.9 27.5 21.9 23.1 50.  50.  50.  50.  50.  13.8 13.8 15.  13.9 13.3\n',
      ' 13.1 10.2 10.4 10.9 11.3 12.3  8.8  7.2 10.5  7.4 10.2 11.5 15.1 23.2\n',
      '  9.7 13.8 12.7 13.1 12.5  8.5  5.   6.3  5.6  7.2 12.1  8.3  8.5  5.\n',
      ' 11.9 27.9 17.2 27.5 15.  17.2 17.9 16.3  7.   7.2  7.5 10.4  8.8  8.4\n',
      ' 16.7 14.2 20.8 13.4 11.7  8.3 10.2 10.9 11.   9.5 14.5 14.1 16.1 14.3\n',
      ' 11.7 13.4  9.6  8.7  8.4 12.8 10.5 17.1 18.4 15.4 10.8 11.8 14.9 12.6\n',
      ' 14.1 13.  13.4 15.2 16.1 17.8 14.9 14.1 12.7 13.5 14.9 20.  16.4 17.7\n',
      ' 19.5 20.2 21.4 19.9 19.  19.1 19.1 20.1 19.9 19.6 23.2 29.8 13.8 13.3\n',
      ' 16.7 12.  14.6 21.4 23.  23.7 25.  21.8 20.6 21.2 19.1 20.6 15.2  7.\n',
      '  8.1 13.6 20.1 21.8 24.5 23.1 19.7 18.3 21.2 17.5 16.8 22.4 20.6 23.9\n',
      ' 22.  11.9]\n']}],
   'source': ['print(df.target)']},
  {'cell_type': 'code',
   'execution_count': 11,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/'},
    'id': 'DebIej3R3oL-',
    'outputId': '70fde733-0cbc-4d89-824e-56b06d5cd832'},
   'outputs': [{'name': 'stdout',
     'output_type': 'stream',
     'text': ['[[6.3200e-03 1.8000e+01 2.3100e+00 ... 1.5300e+01 3.9690e+02 4.9800e+00]\n',
      ' [2.7310e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9690e+02 9.1400e+00]\n',
      ' [2.7290e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9283e+02 4.0300e+00]\n',
      ' ...\n',
      ' [6.0760e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 5.6400e+00]\n',
      ' [1.0959e-01 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9345e+02 6.4800e+00]\n',
      ' [4.7410e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 7.8800e+00]]\n']}],
   'source': ['print(df.data)']},
  {'cell_type': 'code',
   'execution_count': 12,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/',
     'height': 203},
    'id': 'vMGjkE4O3uNF',
    'outputId': '15f5a496-d9bb-4857-80a2-0a680c5c2ba6'},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>CRIM</th>\n',
       '      <th>ZN</th>\n',
       '      <th>INDUS</th>\n',
       '      <th>CHAS</th>\n',
       '      <th>NOX</th>\n',
       '      <th>RM</th>\n',
       '      <th>AGE</th>\n',
       '      <th>DIS</th>\n',
       '      <th>RAD</th>\n',
       '      <th>TAX</th>\n',
       '      <th>PTRATIO</th>\n',
       '      <th>B</th>\n',
       '      <th>LSTAT</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>0.00632</td>\n',
       '      <td>18.0</td>\n',
       '      <td>2.31</td>\n',
       '      <td>0.0</td>\n',
       '      <td>0.538</td>\n',
       '      <td>6.575</td>\n',
       '      <td>65.2</td>\n',
       '      <td>4.0900</td>\n',
       '      <td>1.0</td>\n',
       '      <td>296.0</td>\n',
       '      <td>15.3</td>\n',
       '      <td>396.90</td>\n',
       '      <td>4.98</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>0.02731</td>\n',
       '      <td>0.0</td>\n',
       '      <td>7.07</td>\n',
       '      <td>0.0</td>\n',
       '      <td>0.469</td>\n',
       '      <td>6.421</td>\n',
       '      <td>78.9</td>\n',
       '      <td>4.9671</td>\n',
       '      <td>2.0</td>\n',
       '      <td>242.0</td>\n',
       '      <td>17.8</td>\n',
       '      <td>396.90</td>\n',
       '      <td>9.14</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>0.02729</td>\n',
       '      <td>0.0</td>\n',
       '      <td>7.07</td>\n',
       '      <td>0.0</td>\n',
       '      <td>0.469</td>\n',
       '      <td>7.185</td>\n',
       '      <td>61.1</td>\n',
       '      <td>4.9671</td>\n',
       '      <td>2.0</td>\n',
       '      <td>242.0</td>\n',
       '      <td>17.8</td>\n',
       '      <td>392.83</td>\n',
       '      <td>4.03</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>0.03237</td>\n',
       '      <td>0.0</td>\n',
       '      <td>2.18</td>\n',
       '      <td>0.0</td>\n',
       '      <td>0.458</td>\n',
       '      <td>6.998</td>\n',
       '      <td>45.8</td>\n',
       '      <td>6.0622</td>\n',
       '      <td>3.0</td>\n',
       '      <td>222.0</td>\n',
       '      <td>18.7</td>\n',
       '      <td>394.63</td>\n',
       '      <td>2.94</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>0.06905</td>\n',
       '      <td>0.0</td>\n',
       '      <td>2.18</td>\n',
       '      <td>0.0</td>\n',
       '      <td>0.458</td>\n',
       '      <td>7.147</td>\n',
       '      <td>54.2</td>\n',
       '      <td>6.0622</td>\n',
       '      <td>3.0</td>\n',
       '      <td>222.0</td>\n',
       '      <td>18.7</td>\n',
       '      <td>396.90</td>\n',
       '      <td>5.33</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT\n',
       '0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98\n',
       '1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14\n',
       '2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03\n',
       '3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94\n',
       '4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33\n',
       '\n',
       '[5 rows x 13 columns]']},
     'execution_count': 12,
     'metadata': {'tags': []},
     'output_type': 'execute_result'}],
   'source': ['boston=pd.DataFrame(df.data, columns=df.feature_names)\n',
    'boston.head(5)']},
  {'cell_type': 'code',
   'execution_count': 13,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/',
     'height': 203},
    'id': '1VTB03at4e_n',
    'outputId': '98506a2b-1d1f-4fe4-e95b-ce9f1c4ca2b4'},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>CRIM</th>\n',
       '      <th>ZN</th>\n',
       '      <th>INDUS</th>\n',
       '      <th>CHAS</th>\n',
       '      <th>NOX</th>\n',
       '      <th>RM</th>\n',
       '      <th>AGE</th>\n',
       '      <th>DIS</th>\n',
       '      <th>RAD</th>\n',
       '      <th>TAX</th>\n',
       '      <th>PTRATIO</th>\n',
       '      <th>B</th>\n',
       '      <th>LSTAT</th>\n',
       '      <th>MEDV</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>0.00632</td>\n',
       '      <td>18.0</td>\n',
       '      <td>2.31</td>\n',
       '      <td>0.0</td>\n',
       '      <td>0.538</td>\n',
       '      <td>6.575</td>\n',
       '      <td>65.2</td>\n',
       '      <td>4.0900</td>\n',
       '      <td>1.0</td>\n',
       '      <td>296.0</td>\n',
       '      <td>15.3</td>\n',
       '      <td>396.90</td>\n',
       '      <td>4.98</td>\n',
       '      <td>24.0</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>0.02731</td>\n',
       '      <td>0.0</td>\n',
       '      <td>7.07</td>\n',
       '      <td>0.0</td>\n',
       '      <td>0.469</td>\n',
       '      <td>6.421</td>\n',
       '      <td>78.9</td>\n',
       '      <td>4.9671</td>\n',
       '      <td>2.0</td>\n',
       '      <td>242.0</td>\n',
       '      <td>17.8</td>\n',
       '      <td>396.90</td>\n',
       '      <td>9.14</td>\n',
       '      <td>21.6</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>0.02729</td>\n',
       '      <td>0.0</td>\n',
       '      <td>7.07</td>\n',
       '      <td>0.0</td>\n',
       '      <td>0.469</td>\n',
       '      <td>7.185</td>\n',
       '      <td>61.1</td>\n',
       '      <td>4.9671</td>\n',
       '      <td>2.0</td>\n',
       '      <td>242.0</td>\n',
       '      <td>17.8</td>\n',
       '      <td>392.83</td>\n',
       '      <td>4.03</td>\n',
       '      <td>34.7</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>0.03237</td>\n',
       '      <td>0.0</td>\n',
       '      <td>2.18</td>\n',
       '      <td>0.0</td>\n',
       '      <td>0.458</td>\n',
       '      <td>6.998</td>\n',
       '      <td>45.8</td>\n',
       '      <td>6.0622</td>\n',
       '      <td>3.0</td>\n',
       '      <td>222.0</td>\n',
       '      <td>18.7</td>\n',
       '      <td>394.63</td>\n',
       '      <td>2.94</td>\n',
       '      <td>33.4</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>0.06905</td>\n',
       '      <td>0.0</td>\n',
       '      <td>2.18</td>\n',
       '      <td>0.0</td>\n',
       '      <td>0.458</td>\n',
       '      <td>7.147</td>\n',
       '      <td>54.2</td>\n',
       '      <td>6.0622</td>\n',
       '      <td>3.0</td>\n',
       '      <td>222.0</td>\n',
       '      <td>18.7</td>\n',
       '      <td>396.90</td>\n',
       '      <td>5.33</td>\n',
       '      <td>36.2</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV\n',
       '0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0\n',
       '1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6\n',
       '2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7\n',
       '3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4\n',
       '4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2\n',
       '\n',
       '[5 rows x 14 columns]']},
     'execution_count': 13,
     'metadata': {'tags': []},
     'output_type': 'execute_result'}],
   'source': ["boston['MEDV']=df.target\n", 'boston.head()']},
  {'cell_type': 'code',
   'execution_count': 14,
   'metadata': {'colab': {'base_uri': 'https://localhost:8080/',
     'height': 417},
    'id': 'Oo4CfwGU4t1W',
    'outputId': 'a09c4fe6-02e0-4136-b714-9e0cb9780cac'},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>CRIM</th>\n',
       '      <th>ZN</th>\n',
       '      <th>INDUS</th>\n',
       '      <th>CHAS</th>\n',
       '      <th>NOX</th>\n',
       '      <th>RM</th>\n',
       '      <th>AGE</th>\n',
       '      <th>DIS</th>\n',
       '      <th>RAD</th>\n',
       '      <th>TAX</th>\n',
       '      <th>PTRATIO</th>\n',
       '      <th>B</th>\n',
       '      <th>LSTAT</th>\n',
       '      <th>MEDV</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>False</td>\n',
       '      <td>False</td>\n',